<div class="jumbotron">
    <h1>Images Downloader</h1>
    <p class="lead">Download all images from web page.</p>

    <form id="urlSubmitForm" class="form-inline" role="form" data-toggle="validator">
        <div class="form-group has-feedback">
            <div class="input-group">
                <input type="text" class="form-control" id="urlInput" placeholder="Enter your URL" value="http://www.theverge.com" required>
            </div>
        </div>
        <button type="submit" class="btn btn-danger download">Download</button>
    </form>

    <hr/>
    <div id="jobList" class="jobText">
    </div>
</div>